* {

    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;

}

hr {

    border: solid 0.5vh #000000;
    width: 40vw;
    margin: 5vh auto;
    
}

.landing {

    margin: 10vh auto;
    width: 50vw;
    background-color: #d0ffa9;
    padding: 5%;
    
}

.about {

    text-align: center;
    width: 40vw;
    margin: auto;

}